<div>
  <p>{{title}}</p>
</div>


<button mat-fab aria-label="Example icon-button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>

<mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <div class="example-small-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group>

<table class="handmade">
  <thead>
    <tr>
      <th rowspan="2">id</th>
      <th colspan="3">human</th>
    </tr>
    <tr>
      <th>name</th>
      <th>patronim</th>
      <th>lastname</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor = "let man of people">
      <td>{{man.id}}</td>
      <td>{{man.fname}}</td>
      <td>{{man.lname}}</td>
      <td>{{man.mname}}</td>
    </tr>
  </tbody>
</table>