<div>
  <p>{{title}}</p>
</div>


<button mat-fab aria-label="Example icon-button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>

<mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <div class="example-small-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
</mat-tab-group>

<table class="handmade">
  <thead>
    <tr *ngFor="let headRow of head">
      <td *ngFor="let headCell of headRow" [attr.colspan]="headCell[2]?.colspan || 1" [attr.rowspan]="headCell[2]?.rowspan || 1">
        {{headCell[0]}} 
      </td>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let tr of people">
      <ng-container *ngFor="let headRow of head">
        <ng-container *ngFor="let head of headRow">
          <td *ngIf="!head[3]">
            {{tr[head[1]]}}
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>