  .form-inline {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .col-md-8 {
    height: 30px;
    width: 240px;
  }

  .col-md-8>input {
    height: 30px;
    width: 195px;
    border: solid 1px #000000;
    border-radius: 2px;
  }

  table {
    width: 100%;
  }

  .handmade {
    width: 100%;
    border: 2px solid black ;
    border-radius: 5px;
  }

  .handmade>thead>tr {
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
	  background-color: #4dffa6;
}

.handmade>tbody>tr {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  background-color: #99ebff;
}

.handmade>thead>tr>th{
  border: 1px solid black;
}


